.header {
    &__container {
        margin: 22px auto;
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        &__principal {
            color: rgb(0, 255, 247);
            font-size: 2em;

            &:hover {
                color: aliceblue;
            }
        }
    }

    &__links {

        display: flex;

        &__item {
            padding: 8px;
            margin: 5px;
        }
    }
}