@use 'variaveis';
@use 'hero';
@use 'header';

@font-face {
    font-family: Coalition_v2;
    src: url(/assets/fonts/Perfect\ Futures.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Perfect Futures;
    src: url(/assets/fonts/Perfect\ Futures.otf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: Perfect Futures, sans-serif;
}

@mixin text($fontSize: 26px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 60px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(200px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.button {
    display: block;
    width: 100%;
    height: 90px;
    font-size: 26px;
    color: variaveis.$corTextoButton;
    background-color: variaveis.$corDeFundoBotaoPrimario;
    text-transform: uppercase;
    border-radius: 4px;
    text-decoration: none;
    padding: 8px 14px;

    letter-spacing: 1px &--secundary {}

    &--dark {}
}

.link-text {
    @include text(38px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
    text-decoration: none;
}