@use 'variaveis';
@use 'hero';

@font-face {
    font-family: Coalition_v2;
    src: url(/assets/fonts/Perfect\ Futures.ttf);
    font-weight: 400;
}

@font-face {
    font-family: Perfect Futures;
    src: url(/assets/fonts/Perfect\ Futures.otf);
    font-weight: 700;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: variaveis.$corDeFundo;
    font-family: Perfect Futures, sans-serif;
}

@mixin text($fontSize: 16px) {
    font-size: $fontSize;
    line-height: $fontSize + 10px;
    color: variaveis.$corTextoPrincipal;
}

@mixin title($fontSize: 40px) {
    @include text($fontSize);
    color: variaveis.$corTextoSecundario;
}

.text--big {
    @include text(18px);
}

.text {
    @include text;
}

.text--small {
    @include text(12px);
}

.title--big {
    @include title(70px);
}

.title {
    @include title;
}

.title--small {
    @include title(28px);
}

.link-text {
    @include text(38px);
    color: variaveis.$corTextoSecundario;
    text-decoration: underline;
    text-decoration: none;
}